.card-title {
    font-size: 11px;
    color: gray;

}

.card-text {
    font-weight: bold;
    color: #686173;
    font-size: 13px;
}

.card-body {
    cursor: pointer;
}

.hearth {
    color:red;font-size: 58px;
    cursor: pointer;
}

.card:hover {
    opacity: 25%;
}